:root {
    --cor-de-fundo: #1A1A1A;
    --cor-principal: #800280;
    --cor-secundaria: #959595;
    --cor-do-texto: #EAEAEA;
    --fonte-principal: 'Goldman', sasn-serif;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 5em;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-do-texto);
    transition: .5s;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: var(--cor-do-texto);
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.navmain {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 2em;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 2.5em;
}

.menu-hamburguer {
    display: block;
}

.cabmenu{
    width: 30px;
    height: 30px;
    background-image: url("../assets/menuhamb.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.menubtn{
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 20px;
    padding: 20px 80px 30px 30px;
    top: 100%;
    left: 0%;
    background-color: var(--cor-do-texto);
    z-index: 9;
    transition: .5s;
}

.menubtn:checked~.lista-menu {
    display: flex;
}

.lista-menu__item {
    list-style-type: none;
}

.lista-menu__link {
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 22px;
}

.nav-links {
    display: none;
    align-items: center;
    font-size: 1.3em;
    gap: 0.2em;
    text-decoration: none;
    color: var(--cor-principal);
}

.conteudo {
    display: flex;
    flex-direction: column;
    margin: 5em 2em 1em 2em;
    gap: 3em;
}

.container-titulo {
    font-size: 2em;
}

.container-titulo strong{
    color: var(--cor-principal);
    font-weight: 600;
}

.container-texto {
    font-size: 1.3em;
}

.rodape-texto {
    display: flex;
    height: 3em;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
}

@media screen and (min-width: 1024px) {

    .menu-hamburguer {
        display: none;
    }

    .nav-links {
        display: flex;
    }

}