.conteudo-habilidades {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.lista-habilidades {
    list-style: inside url(../img/gastly.png);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.links-certificados {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 2em;
}

.buttons-certificados {
    padding: 1em 0.8em;
    gap: 0.5em;
}

#certificados {
    font-size: 1.5em;
    color: var(--cor-do-texto);
}

.buttons-certificados img {
    width: 2em;
}

.ferramentas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.ferramentas-icon {
    width: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.iconf {
    width: 100%;
}