.conteudo-home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
}

.foto {
    width: 100%;
    object-fit: contain;
    border-radius: 1.2em;
}

.left-holder {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.container-titulo {
    text-align: center;
}

.container-texto {
    text-align: center;
}

.rede-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.link-buttons {
    padding: 0.5em;
    display: flex;
    border: var(--cor-principal) solid 0.15em;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--cor-do-texto);
    transition: 0.5s ease;
    gap: 0.5em;
}

.link-buttons:hover {
    background-color: #2A2A2A;
    transform: scale(1.1);
    transition: 0.5s ease;
}

#github{
    font-size: 1.5em;
    color: var(--cor-do-texto);
    transition: .5s;
}

#linkedin{
    font-size: 1.5em;
    color: var(--cor-do-texto);
    transition: .5s;
}

#email{
    font-size: 1.5em;
    color: var(--cor-do-texto);
    transition: .5s;
}

.right-holder {
    width: 40%;
    display: flex;
    justify-content: center;
}

.gif-holder {
    display: flex;
    justify-content: center;
}

.gengar-gif {
    display: flex;
    width: 10em;
    transform: scaleX(-1) ;
}

@media screen and (min-width: 1024px) {

    .conteudo-home {
        display: flex;
        flex-direction: row;
    }

    .left-holder {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}
