.icon {
    display: none;
    cursor: pointer;
    animation: 2s ease-in;
}

.icon.mode {
    display: flex;
    animation: 2s ease-in;
}

body.mode {
    background-color: var(--cor-do-texto);
    color: var(--cor-de-fundo);
    transition: .5s;
}

body.mode .lista-menu {
    background-color: var(--cor-de-fundo);
}

body.mode .lista-menu__link {
    color: var(--cor-principal);
}

body.mode .navbar {
    background-color: var(--cor-de-fundo);
}

body.mode .nav-links {
    color: var(--cor-principal);
}

body.mode .link-buttons:hover {
    background-color: transparent;
}

body.mode a{
    color: var(--cor-de-fundo);
}

body.mode #github{
    color: var(--cor-de-fundo);
}

body.mode #linkedin{
    color: var(--cor-de-fundo);
}

body.mode #email{
    color: var(--cor-de-fundo);
}

body.mode #certificados {
    color: var(--cor-de-fundo);
}

