.container-projetos {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 0 0 1.5em 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.card {
    border: 3px var(--cor-principal) solid;
    border-radius: 10px;
    height: 180px;
    width: 450px;
    display: flex;
    position: relative;
}

.card > .background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8);
    z-index: -1;
    transition: 0.5s ease;
}

.card > .card-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    overflow: hidden;
    z-index: 10;
}

.background {
    width: 100%;
    height: 100%;
}

.card-content > .card-title {
    font-size: 0.8em;
    margin-left: 10px;
    opacity: 1;
    color: black;
    translate: 0 0;
    background-color: white;
    padding: 6px;
    border-radius: 6px;
    text-decoration: none;
}

.card > .backdrop {
    border-radius: 6px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

@media screen and (min-width: 1024px) {

    .card-content > .card-title {
        opacity: 0;
    }

    .card:hover {
        flex-grow: 7;
    }
    
    .bauhaus:hover {
        flex-grow: 2.5;
    }
    
    .hourglass:hover {
        flex-grow: 2.5;
    }
    
    .moodboard:hover {
        flex-grow: 10;
    }
    
    .cards-container {
        height: 340px;
    }
    
    .card {
        width: 3em;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        transition: flex-grow 0.5s ease;
    }
    
    .card > .background {
        filter: brightness(0.5);
    }
    
    .card:hover > .card-content {
        inset: 20px;
        top: auto;
    }
    
    .card:hover > .background {
        filter: brightness(1);
    }
    
    .card:hover .card-title {
        opacity: 1;
        translate: 0 0;
        background-color: white;
        padding: 6px;
        border-radius: 6px;
        text-decoration: none;
    }
    
    .card > .backdrop {
        border-radius: 6px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: 0;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
    }
}